* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;

    background-color: #fff;
}

.header_wrapper {
    height: 811px;

    color: #fff;

    background: url("img/background.png") center no-repeat;
    background-size: cover;
}

header {
    padding-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 1111px;
    height: 43px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 256px;
    height: 40px;
}

#menu {
    width: 40px;
    height: 40px;

    cursor: pointer;
}

.header_content {
    width: 616px;
    height: 412px;

    margin: 121px 0 0 166px;
}

.header_content p:first-of-type {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.header_content h1 {
    margin: 22px 0 24px 0;

    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
}

.header_content p:last-of-type {
    margin-bottom: 45px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.header_content a {
    color: #ffd723;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

main {
    margin-bottom: 326px;

    display: flex;
    justify-content: center;
}

.main_content {
    width: 1110px;
    height: 611px;

    display: flex;
    flex-direction: column;
}

.main_content h2 {
    margin: 150px 0 60px 0;

    color: #4d533c;

    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}

.list {
    width: 1110px;
    height: 309px;

    display: flex;
    flex-wrap: wrap;
}

.list_item {
    width: 255px;
    height: 309px;

    display: flex;
    flex-direction: column;

    position: relative;
}

.list_item h3 {
    padding: 27px 42px 20px 30px;

    color: #4d533c;

    font-weight: 500;
    font-size: 24px;
    line-height: 34px;

    text-transform: uppercase;
}

.list_item p {
    padding: 0 31px 0 30px;

    color: rgba(33, 56, 66, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.list_item a {
    padding: 0 123px 36px 30px;

    position: absolute;
    bottom: 0;

    color: #d4d6d4;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    transition: .2s color;
}

.list_item a:hover {
    color: #ffd723;
}

.call_to_action {
    width: 1275px;
    height: 362px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -181px;
    left: 0;

    background-color: #fafafa;

    box-shadow: 50px 130px 100px 0 rgba(0, 0, 0, 0.15);
}

.call_to_action_content {
    width: 822px;
    height: 221px;
}

.call_to_action_content h4 {
    margin-bottom: 50px;

    color: #4d533c;

    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
}

.call_to_action_content a {
    color: #d4d6d4;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    text-transform: uppercase;

    transition: .2s color;
}

.call_to_action_content a:hover {
    color: #ffd723;
}

footer {
    height: 920px;

    display: flex;
    justify-content: center;

    position: relative;

    background: url("img/footer_background.png") center no-repeat;
    background-size: cover;
}

.footer_content {
    width: 1111px;
    height: 580px;

    padding-top: 310px;

    display: flex;
    flex-direction: column;
}

.contact {
    padding-bottom: 52px;

    display: flex;
    gap: 128px;
}

.phone_content h5,
.address_content h5 {
    color: #b6c197;

    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.phone_content a,
.address_content a {
    color: #fff;

    font-weight: 700;
    font-size: 16px;
    line-height: 40px;

    text-decoration: none;
}

.about {
    width: 1111px;
    height: 320px;

    padding-top: 60px;
    margin-bottom: 60px;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid #5d6544;
}

.about h5 {
    padding-bottom: 21px;

    color: #fff;

    font-weight: 600;
    font-size: 16px;
    line-height: 38px;

    text-transform: uppercase;
}

.about a {
    display: block;

    color: #b6c197;

    font-weight: 400;
    font-size: 16px;
    line-height: 40px;

    text-decoration: none;
}

.about p {
    color: #b6c197;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.line {
    width: 1px;
    height: 210px;

    background-color: #5d6544;
}

.get_in_touch {
    width: 322px;
    height: 232px;

    display: flex;
    flex-direction: column;
    gap: 23px;
}

.get_in_touch h5 {
    padding: 0;
}

#mail {
    color: #fff;

    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
}

.get_in_touch_icons {
    display: flex;
    gap: 14px;
}

.get_in_touch_icons svg {
    width: 33px;
    height: 33px;

    cursor: pointer;

    fill: #444a34 !important;
}

#facebook1,
#facebook2,
#twitter1,
#twitter2,
#google1,
#instagram1,
#instagram2 {
    transition: .2s fill;
}

#facebook:hover #facebook1 {
    fill: #3b5998 !important;
}

#facebook:hover #facebook2 {
    fill: #fff !important;
}

#twitter:hover #twitter1 {
    fill: #1D9BF0 !important;
}

#twitter:hover #twitter2 {
    fill: #fff !important;
}

#google:hover #google1 {
    fill: #ffd723 !important;
}

#google:hover #google2 {
    fill: #fff !important;
}

.instagram_wrap {
    position: relative;
}

#instagram {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    transition: .2s opacity;
}

#instagram:hover {
    opacity: 1;
}

.footer_end {
    width: 1110px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: end;

    border-top: 1px solid #5d6544;
}

.footer_end img {
    padding-top: 24px;
}

.footer_end p {
    color: #b5c096;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}